body{
    background-color: #a15620cf;
    margin: 0%;
}

#badge
{
    position: absolute;
    background-color: rgb(198, 6, 6);
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    top: 10px;
    right:158px;
}
#container
{
    background-color: #3a1c06;
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    position: fixed;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
}

#shopName 
{
    font-size: 40px; 
    font-family: 'Lato', sans-serif;
}

#shopName a
{
    text-decoration: none;
    color: rgb(207, 145, 52); 
}

#shopName > b
{
    font-weight: 900;
    font: rgb(108, 103, 103);
}

#collection
{
    font-weight: bold;
    font-size: 01rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#collection a
{
    text-decoration: none;
    color: rgb(150, 146, 146);
}

.search
{
    padding: 14px;
    /* color: gray; */
    color: rgb(29, 29, 29);
    min-width: 25px;
    text-align: center;
    position: absolute;
}

.addedToCart
{
    font-size: 1.5em;
    margin-right: 25px;
    color: rgb(163, 163, 148);
}
#user
{
    display: flex;
    /* float: right; */
    align-items: center;
}

.userIcon
{
    font-size: 45px;
    color: rgb(163, 163, 148);
}
#input 
{
    width: 25em;
    height: 2.8em;
    padding: 2px 50px;
    background-color: rgb(243, 193, 144);
    border: none;
    border-radius: 5px;
}
#input::placeholder
{
    font-weight: bold;
}
#input:focus
{
    outline: none;
}
#user a
{
    color: rgb(29, 29, 29)
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1300px)
{
    #collection
    {
        font-size: 13px;
    }
    #input 
    {
        width: 25em;
    }
}
@media(max-width: 1212px)
{
    #collection
    {
        font-size: 13px;
    }
    #input 
    {
        width: 20em;
    }
    .addedToCart
    {
        font-size: 1.5em;
        margin: 10px 20px;
    }
}

@media(max-width: 1090px)
{
    #container
    {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
    }
    #search
    {
        display: none;
    }
}
@media(max-width: 750px)
{
    #shopName
    {
        font-size: 28px;
    }
    #collection
    {
        font-size: 12px;
    }
    .userIcon
    {
        font-size: 35px;
    }
    .addedToCart
    {
        font-size: 1.2em;
        margin: 10px 20px;
    }
}

@media(max-width: 650px)
{
    #shopName
    {
        font-size: 24px;
    }
    #collection
    {
        font-size: 10px;
    }
    .userIcon
    {
        font-size: 30px;
    }
}
@media(max-width: 550px)
{
    #container 
    {
        padding: 20px 25px;
    }
}

/* badge media */

@media(max-width: 1480px)
{
    #badge
    {
        right:150px;
    }
}
@media(max-width: 1426px)
{
    #badge
    {
        right:142px;
    }
}
@media(max-width: 1360px)
{
    #badge
    {
        right:136px;
    }
}
@media(max-width: 1320px)
{
    #badge
    {
        right:129px;
    }
}
@media(max-width: 1259px)
{
    #badge
    {
        right:119px;
    }
}
@media(max-width: 1212px)
{
    #badge
    {
        right: 96px;
    }
}
@media(max-width: 1155px)
{
    #badge
    {
        right: 87px;
    }
}
@media(max-width: 1090px)
{
    #badge
    {
        right: 119px;
    }
}
@media(max-width: 1030px)
{
    #badge
    {
        right: 109px;
    }
}
@media(max-width: 970px)
{
    #badge
    {
        right: 100px;
    }
}
@media(max-width: 910px)
{
    #badge
    {
        right: 94px;
    }
}
@media(max-width: 850px)
{
    #badge
    {
        right: 87px;
    }
}
@media(max-width: 750px)
{
    #badge
    {
        right: 87px;
        padding: 3px 6px;
        font-size: 12px;
        top: 12px;
    }
}
@media(max-width: 650px)
{
    #badge
    {
        right: 78px;
    }
}
@media(max-width: 550px)
{
    #badge
    {
        right: 62px;
        top: 18px;
    }
}

.frame{
    background-color: rgba(240, 248, 255, 0.096);
    border: 3px solid rgb(245, 242, 242);
    border-radius: 2.5rem;
    padding: 0rem 12rem 1rem 12rem;
    position: absolute;
    top: 2%;
    left: 23%;
}

.heading{
    font-weight: 900;
    font-size: 2.6rem;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    font-size: large;
    font-weight: 6 00;
}

p{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color: rgb(254, 254, 254);
}

legend{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(236, 236, 236);

}

input{
    border-radius: 0.4rem;
    background-image: linear-gradient(to right, #cd8f60 0%, #7b4816 100%);
    /* background-color: antiquewhite; */
    font-size: 1.4rem;
}

#address{
    background-image: linear-gradient(to right, #cd8f60 0%, #7b4816 100%);
    /* background-color: antiquewhite; */
    font-size: 1.3rem;
    border-radius: 1rem;
    border: 0.135rem solid black;
}

#card_type{
    font-size: 1.3rem;
    border-radius: 1rem;
    border: 0.156rem solid black;
    background-image: linear-gradient(to right, #cd8f60 0%, #7b4816 100%);
    /* background-color: antiquewhite; */
}


.bn31 {
    background-image: linear-gradient(to right, #ff6f00 0%, #281502 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #000000;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}

.bn31:hover {
    color: #e9e5e5;
    font-size: 1.5rem;
    
}

.bn31 .bn31span {
    align-items: center;
    background: #f1ad31;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.bn31:hover .bn31span {
    background: transparent;
}